<html>
    <head>
        <title>Gabi Turner blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Gabi Turner Blog</a></h1>
        </div>

        <div>
            <p>published: 06.03.2018, 01:00pm</p>
            <h2><a href="">Photography</a></h2>
            <p>Here is where I will talk about photography, I will also post
              pictures I have taken.</p>
        </div>
<hr  />
        <div>
            <p>published: 06.03.2018, 01:00pm</p>
            <h2><a href="">Travel</a></h2>
            <p>In this section I will talk about travel.</p>
        </div>
    </body>
</html>
